{% extends '../layouts/default.html' %}

{% block content %}
    <div class="row">
<!--         <div class="col-md-offset-1 col-md-5">
            <a href="/auth/facebook"><img src="/img/icons/facebook.png"></a>
            <a href="/auth/github"><img src="/img/icons/github.png"></a>
            <a href="/auth/twitter"><img src="/img/icons/twitter.png"></a>
            <a href="/auth/google"><img src="/img/icons/google.png"></a>
            <a href="/auth/linkedin"><img src="/img/icons/linkedin.png"></a>
        </div> -->
        <div class="col-md-8">
            {% block auth %}{% endblock %}

            {% if message && message.length  %}
            <div class="col-md-offset-4 fade in alert alert-danger alert-dismissable">
                <button class="close" data-dismiss="alert" aria-hidden="true"></button>
                <div class="strong">
                    {{ message }}
                </div>
            </div>
            {% endif %}
            
        </div>
    </div>
{% endblock %}
