<section data-ng-controller="PurchaseController">
    <div class="row">

        <section class="col-md-3">
            <div>
                <label>Find industry</label>
                <input type="text" ng-model="industryPrefix">
            </div>

            <div class="col-md-offset-1 col-md-12">
                <div ng-repeat="industry in ind()" ng-hide="industry.indexOf(industryPrefix) !== 0 && industry.toLowerCase().indexOf(industryPrefix) !== 0">
                    <label>
                        <input type="checkbox" ng-model="industries[industry]"
                               ng-change="filterCompanies(industry, val)"> {{industry}}
                    </label>
                </div>
            </div>
        </section>


        <section class="col-md-9 companies">
            <div>
                <label>Find company</label>
                <input type="text" ng-model="companyPrefix">
            </div>
            <div class="row">
                <label class="col-md-2">company</label>
                <!--<label class="col-md-1">change</label>-->
                <label class="col-md-1">stockPrice</label>
                <label class="col-md-2">amount</label>
                <label class="col-md-1">totalPrice</label>
            </div>

            <div class="row" ng-repeat="company in companies() " ng-hide="company.name.indexOf(companyPrefix) !== 0 && company.name.toLowerCase().indexOf(companyPrefix) !== 0"> 
                <a href=#/company/{{company.name}}>
                    <div class="col-md-2">{{company.name}}</div>
                </a>

                <!--<div class="col-md-1 alert-danger" ng-show="company.change < 0">{{company.change}}</div>-->
                <!--<div class="col-md-1 alert-success" ng-hide="company.change < 0">{{company.change}}</div>-->

                <div class="col-md-1">{{company.stockPrice}}</div>

                <form class="form-horizontal col-md-2" ng-submit="purchase(company.name)(amount)(amount * company.stockPrice)">
                    <input class="amount" type="number" name="amount" value="0" ng-model="amount">
                    <button class=" label label-success buy">Buy</button>
                </form>
                <div class="col-md-1" ng-show="amount > 0">{{amount * company.stockPrice}}</div>
                <div class=" col-md-1 alert alert-success" ng-show="showPurchased(company.name) > 0">
                    Bought: {{purchased(company.name)}}
                </div>
                <div class=" col-md-1 alert alert-danger" ng-show=" 0 > showPurchased(company.name)">
                    failed
                </div>

                {{purchased}}


            </div>
        </section>
    </div>
</section>
