<section data-ng-controller="PurchaseController">
<div class="row">
	<section class="col-sm-2" >
	<div ng-repeat="(industry, value) in industries">
		<input type="checkbox" ng-model="industries[industry]" ng-change="filterCompanies(industry, val)"> {{industry}}
	</div>

	</section>

	<section class="col-xs-8" >
		<div class="row" ng-repeat="company in companies()">
			<div class="col-xs-3">{{company.name}}</div>
			<div class="col-xs-1">{{company.difference}}</div>
			<div class="col-xs-1">{{company.stockPrice}}</div>
			<form class="form-horizontal col-xs-4" ng-submit="purchase(company.name)(v)">
				<input  type="number" name="amount" value="0" ng-model="v">
				<button>Buy</button>
			</form>
			<div class="col-xs-2 alert alert-success" ng-show="showPurchased(company.name)">
				{{purchased(company.name)}}
			</div>
		</div>
	</section>
</div>
	
</section>

