@media (min-width: 1920px) {
  .container {
    width: 1600px;
  }
}

.navbar .nav>li>a.brand {
    padding-left:20px;
    margin-left:0
}


.content {
    margin-top:5%;
    width:100%
}

.col-centered{
    margin: 10 auto;
}
footer {
    position:fixed;
    left:0;
    bottom:0;
    height:30px;
    width:100%;
    background:#ddd;
    -webkit-box-shadow:0 8px 6px 6px black;
    -moz-box-shadow:0 8px 6px 6px black;
    box-shadow:0 8px 6px 6px black
}

footer p {
    padding:5px 0 12px 10px
}

form.ng-invalid input.ng-invalid {
   border-color: red;
   outline-color: red;
}
